*.bz2
*.gz
*.o
*.tar
*.tgz
FvwmTransFocus
a.out
arpping
cdiff
core
cutcom
drun
infinite-logger
installkernel-log*
load
malloc
mountiso
mpd-show
mpd-state
null
quotes
rot13
the-book-of-mozilla
timer
tuptime
umountiso
xgetclass
xrun
